@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Dana-Regular.woff2') format("woff2");
    font-display: swap
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Dana-Bold.woff2') format("woff2");
    font-display: swap
}

body{
    font-family: Dana;
    background-color: #e8e8e8;
}

/* خدمات ما */

.title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
    color: #37517e;
}

.title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #DDD;
    bottom: 1px;
    left: calc(50% - 60px);
}

.title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0px;
    left: calc(50% - 20px);
}

article.box:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* نمونه کارها */

.portfolios{
    position: relative;
}
.portfolios .img-box {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.portfolios .img-box img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.overlay {
    background-color: transparent;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.4s ease 0s;
    transition: background-color 0.4s ease 0s;
}
.overlay .box {
    border: 3px solid transparent;
    display: table;
    height: 100%;
    -webkit-transition: border-color 0.4s ease 0s;
    transition: border-color 0.4s ease 0s;
    width: 100%;
}
.overlay .box .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.overlay .box .content a {
    padding: 9.5px 24px;
    -webkit-transform: translate3d(0px, -75px, 0px);
    transform: translate3d(0px, -75px, 0px);
    -webkit-transition: all 0.4s ease 0s !important;
    transition: all 0.4s ease 0s !important;
    opacity: 0;
}

.portfolios:hover .img-box .overlay {
    background-color: rgba(1, 48, 94, 0.85);
    border-radius: 15px;
}
.portfolios:hover .img-box .overlay .box {
    border-color: #ff8d00;
    border-radius: 15px;
}
.portfolios:hover .img-box .overlay .box .content a {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.portfolios:hover .img-box img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 15px;
}

/* وبلاگ */

figure.img img{
    border: 1px solid #ff8d00;
}


/* مشتریان ما */

figure.customers img:hover{
    border: 2px solid #ff8d00;
}


/* پا برگ */

footer.footer{
    background-color: #34495e;
    color: #fff;
}
